/*=========================================
			General Styles
===========================================*/

/*----------------------------------------------------------------Fonts-----*/
body {
	font-family: 'Tinos', serif;
}

p {
	font-family: 'Tinos', serif;
}

h1, h2, h3, h4 {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold;
}

h1.imageReplace {
	margin: 0;
}

h2 {		
	font-size: 2em;
	margin-bottom: 0;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

ul {
	padding-left: 16px;
}

a {
	color: #DB2C42;	
	text-decoration: none;	
}

a:hover {
	background-color: #DB2C42;
	color: #fff;
}

footer a {
	color: #5BCCEB;
}

footer a:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #ccc;
}

.museumLink {
	text-decoration: underline;
}

.museumLink:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #9A9999;
}

input[type="submit"] {
	background-color: #DB2C42;
	color: #fff;
	font-size: .875em;
}

.memberHeader p {
	color: #aaa;
	font-family: 'Merriweather Sans', sans-serif;
}

/*-------------------------------------------------------------------Hacks---*/

.hiddenText {
	position: absolute;
	left: -9999px;
}

.imageReplace a {
	display: block;
	margin: 20px auto 5px;
	height: 40px;
	width: 147px;
	text-indent: -9999px;                 
    background: url(../images/logo.jpg) no-repeat;
    background-size: contain;  
}

.clearfix { 
	zoom: 1; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

/*-----------------------------------------------------------------Layout---*/

.siteWrapper {
	width: 90%;
	margin: 0 5%;
}

/*.logoContainer {                
    height: auto;
    width: 145px;
    margin: 1.25em auto 0;  
}*/

.siteHeader, main {
	padding-bottom: 35px;
	border-bottom: 1px solid #ccc;
}


/*=========================================
				General Nav
===========================================*/

.generalNav ul {
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.generalNav li {
	text-align: center;
	list-style: none;
}

.generalNav a {
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	margin: 0;
}

.generalNav li:last-child a {
	border-bottom: none;
	border-radius: 0 0 4px 4px;
}

.generalNav li:first-child a {
	border-radius: 4px 4px 0 0;
}

/*=========================================
				Form Styles
===========================================*/

.formSection {
	padding-bottom: 40px;
}

.memberLevel input[type="radio"], .memberLevel input[type="checkbox"] {
	width: auto;
	display: inline-block;
	margin-right: 7px;
}

.memberLevel {
	border-bottom: 1px solid #ccc;
}

.formContainer .memberLevel label {
	display: block;
	margin-bottom: .875em;
}

.formContainer {
	background: #eee;
	padding: .625em;
}

.formContainer input {
	display: block;
	width: 100%;
}

.formContainer input[type="text"], .formContainer input[type="email"], .formContainer input[type="search"] {
	margin-bottom: .625em;
	padding: 15px 0;
	width: 100%;
    border: 0 solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 1px 4px #999 inset;
    -webkit-box-shadow: 0 1px 4px #999 inset;
    box-shadow: 0 1px 4px #999 inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.formContainer input[type="search"] {
	padding: 10px 0;
}

.formContainer input[type="submit"] {
  	border:none;
  	padding: 10px 0;
  	border-radius: 3px;
}

.formContainer input[type="submit"]:hover {
	background: #fc2C42;
}

.formContainer fieldset {
	border: none;
}

.formContainer h3 {
	font-size: 1.25em;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 800;
	display: block;
	margin: 5px 0 18px;
}

.formContainer label {
	display: inline-block;
	margin-bottom: .5em;
}

.regButton input {
	margin-top: 20px;
	font-size: 1em;
}

/*-----------------------------------------------------------Package---*/

.package {
	background: #fff;
	border-radius: 3px;
	padding: 15px;
	margin: 10px 0;
}

.package p {
	font-size: 1.25em;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 800;
	text-align: center;
	margin: 0;
}

.package ul {
	line-height: 1.5;
	padding-left: 18px;
}

.package li {
	margin: 10px 0;
}


/*=========================================
				Main Section
===========================================*/

.memberHeader p {
	margin-top: 10px;
	margin-bottom: 40px;
}

main ul {
	margin: 0;
}

main li {
	line-height: 1.7;
}

.memberForm {
	border-radius: 3px;
	margin-top: 45px;
}

/*=========================================
				Aside Section
===========================================*/

aside {
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

/*=========================================
				FOOTER
===========================================*/

footer {
	background: #333;
	padding: 40px 20px 30px;
}

.footerText {
	margin-bottom: 50px;
}

footer p {
	color: #fff;
	text-align: center;
	margin: 5px;
}

footer ul {
	margin: 10px 5% 0;
	padding: 0;
	width: 90%;
	text-align: center;
}

footer li {
	list-style: none;
	display: inline;
}

footer a {
	text-decoration: underline;
	padding: 0 10px 0;
	font-size: .875em;
}











/*=========================================
				BREAKPOINTS
===========================================*/


/*-----------------------------------------------------------660px---*/

@media screen and (min-width: 660px) {

	/*=======================
			Header
	=======================*/

	.logoContainer a {                
	    height: 61px;
	    width: 220px;  
	}

	/*=======================
			Search Box
	=======================*/

	.formContainer input[type="search"] {
		display: inline-block;
		margin-bottom: 0;
		width: 65%;
		float: left;
	}

	input[for="search"] {
		display: inline-block;
		height: 38px;
		width: 33%;
		float: right;
	}

	/*=======================
			Form
	=======================*/

	.memberForm fieldset {
		margin: 0;
	}

	.textInputs1 {
		float: left;
		width: 48%;
	}

	.textInputs2 {
		float: right;
		width: 48%;
	}

	.selections {
		float: left;
		width: 48%;
	}

	.addOptions {
		float: right;
		width: 44%;
	}

	.regButton {
		width: 35%;
		float: right;
		font-size: 1.125em;
	}

	/*=======================
		  Second Nav
	=======================*/

	aside a {
		color: #DB2C42;	
		text-decoration: underline;	
	}

	aside a:hover {
		background-color: transparent;
		color: #999;
	}

	aside.generalNav {
		margin-bottom: 20px;
	}

	aside.generalNav ul {
		padding: 0;
		border: none;
		border-radius: 0;
	}

	aside.generalNav li {
		text-align: left;
		list-style: none;
	}

	aside.generalNav a {
		display: block;
		border-bottom: none;
		padding: 0;
		margin: 0;
	}

	aside.generalNav li:last-child a {
		border-bottom: none;
		border-radius: 0;
	}

	aside.generalNav li:first-child a {
		border-radius: 0;
	}

	.navList {
		width: 33%;
		float: left;
	}

}






/*-----------------------------------------------------------840px---*/

@media screen and (min-width: 840px) {

	/*=======================
		  Header
	=======================*/

	.imageReplace a {
		width: 256px;
		height: 70px;
		float: left;
	}

	.siteHeader {
		position: relative;
		border-bottom: none;
		padding-bottom: 0;
	}

	#searchBox {
		position: absolute;
		top: 45px;
		right: 0;
		background: transparent;
		height: 53px;
		width: 350px;
		padding: 0;
	}

	#searchBox input[type="search"] {
		padding: 8px 0;
		width: 68%;
	}

	#searchBox input[type="submit"] {
		height: 35px;
		width: 30%;
		padding: 8px 0;
	}

	.memberHeader {
		background: #eee;
		border-radius: 3px;
		padding: .825em 1.5em;
	}

	.memberHeader h2 {
		margin: 0;
		font-size: 1.825em;
	}

	.memberHeader p {
		margin-bottom: 10px;
	}

	/*=======================
		  Main Nav
	=======================*/

	.navContainer {
		width: 80%;
		margin: 0 auto;
	}

	.mainNav li {
		display: inline;
	}

	.mainNav a {
		float: left;
		border-bottom: none;
		width: 16%;
	}

	.mainNav a:hover {
		background: transparent;
		color: #ccc;
	}

	/*=======================
		  	  Form
	=======================*/

	.chooseLevel {
		padding: 10px;
		background: #ccc;
		border-radius: 3px;
	}

	.package {
		display: block;
		float: left;
		width: 28.4%;
		margin-right: 5px;
	}

	.chooseLevel .package:last-child {
		margin-right: 0;
	}

	.regButton {
		width: 28%;
	}

	.regButton input[type="submit"]:hover {
		background: #60DBFF;
		text-shadow: #aaa 0 1px;
	}

}






/*-----------------------------------------------------------1000px---*/

@media screen and (min-width: 1000px) {

	/*=======================
		  Main Section
	=======================*/

	.memberHeader {
		margin-top: 5px;
	}

	.leftSection {
		width: 71%;
		float: left;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 85px;
	}
	
	.package {
		width: 27.4%;
	}

	.formContainer input[type="submit"] {
		padding: 10px 15px;
	}

	/*=======================
		  Aside Section
	=======================*/

	aside {
		display: block;
		float: right;
		width: 20%;
	}

	aside.generalNav {
		margin-top: 20px;
		padding-top: 0;
		border-top: none;
		border-left: 1px solid #ccc;
		padding-left: 35px;
	}

	aside.generalNav a {
		margin-bottom: 10px;
	}

	.navList {
		display: block;
		width: 100%;
		float: none;
	}

	aside.navList:first-child {
		margin-top: 0;
	}

}







/*-----------------------------------------------------------1000px---*/

@media screen and (min-width: 1280px) {

	.sitewrapper {
		max-width: 1280px;
		margin: 0 auto;
	}

	.package {
		width: 28.8%;
	}
}














